/* src/components/SentenceConstructionCard/SentenceConstructionCard.css */

.sentence-card-container {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid rgb(221, 220, 220);
  border-radius: 4px;

  .sentence-card-inner {
    aspect-ratio: 4 / 3;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #ffffff;

    box-sizing: border-box;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lesson-label {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #222b5a;
  }

  &:hover .sentence-card-inner {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  }
}
