.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 20px;

  .header-item {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-item .logo-image {
    height: 100%;
    object-fit: contain;
  }

  .header-item.home-page:hover,
  .header-item.about-us:hover {
    opacity: 0.7;
  }

  .header-item.buttons {
    display: flex;
    gap: 5px;

    .btn {
      cursor: pointer;
    }

    .btn:hover {
      opacity: 0.8;
    }

    .signup-btn {
      padding: 10px;
      background-color: white;
      border: none;
    }

    .login-btn {
      padding: 10px;
      background-color: #362b0e;
      color: white;
      border-radius: 10px;
    }
  }
}

.home-page-container {
  width: 100%;
  background-color: #eeeeee;
  position: relative;

  .image-wrapper {
    position: relative;
  }

  .start-now-image {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .start-now-btn {
    padding: 20px 40px;
    background-color: #ffbc11;
    border-radius: 15px;
    border: none;
    font-size: 35px;

    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
