.sentence-construction-lesson-detail-container {
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
  height: 100%;
}

.sentence-construction-lesson-detail-container .progress-blocks {
  display: flex;
  gap: 2px;
  height: 10%;
  /* background-color: antiquewhite; */

  .progress-block {
    height: 10px;
    border-radius: 5px;
  }

  .progress-block--pending {
    background-color: #ececec;
  }

  .progress-block--completed {
    background-color: #4caf50;
  }
}

.sentence-construction-lesson-detail-container .question-content {
  flex: 1;
  .prompt {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 70px;
  }

  .main-question-wrapper {
    .selected-words-wrapper,
    .scrambled-words-wrapper {
      display: flex;
      justify-content: center;
      gap: 3px;
      /* background-color: rgb(216, 255, 242); */

      .selected-word,
      .scrambled-word {
        min-height: 40px;
        min-width: 60px;
        box-sizing: border-box;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid rgb(207, 207, 207);
        border-width: 1.5px 1.5px 3.5px 1.5px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .selected-words-wrapper {
      /* background-color: #c5ffc7; */
      width: 80%;
      /* min-height: 76px; */
      margin: auto;
      padding: 15px 0;
      border: 1px solid rgb(207, 207, 207);
      border-width: 1.5px 0;
    }

    .scrambled-words-wrapper {
      margin-top: 50px;

      .scrambled-word--selected {
        background-color: rgb(207, 207, 207);
      }
    }
  }
}

.sentence-construction-lesson-detail-container .result-area {
  display: flex;
  justify-content: flex-end;
  height: 20%;
  background-color: #ddfade;
}
